@page
@model IndexModel
@using BankSystem.Models

@{
    ViewData["Title"] = "Bank System";
}

@if(Account.LoggedInAccount == null)
{
    <div class="text-center">
        <h5>Bank System made in ASP.NET Core</h5>
        <p><a href="/Login">Click here to login</a></p>
    </div>
}
else
{
    <p>Welcome @Account.LoggedInAccount.Name</p>
}

